#wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .photo {
    background-color: transparent;
    margin: 20px;
    min-height: 370px;
    font-size: $textSize;  
  
    width: $photoWidth;
    margin-top: 20px;
    .img-wrap {
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      height: 500px;
      display: grid;
      justify-content: center;
      align-items: end;
      background-color: $bgColor;
      align-items: center;
      background-color: black;
    }
    a {
      font-size: calc(23 - 6);
      font-family: $fontfamily;
      text-decoration: none;
      color: rgba(var(--f52, 142, 142, 142), 1);
      cursor: pointer;
    }
    #nameof {
      font-weight: bolder;
    }
    p {
      text-align: center;
      margin-top: 0;
      padding: 10px;
      margin-bottom: 0;
      padding-bottom: 0;
      background-color: inherit;
      text-align: left;
      line-height: 2rem;
    }
    img {
      @include marginAndPad0();
      max-height: $photoWidth;
      width: $photoWidth;
      border-radius: $borderRadius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: black;
    }
    .caption-content {
      background-color: lavender;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius:$borderRadius;
    }
    .date {
      font-size: $textSize - 7;
      text-align: center !important;
    }
    button {
      @include marginAndPad0();
      border-radius: 100%;
      background-color: inherit;
      border: 0;
      svg {
        font-size: inherit;
        text-align: center;
      }
      &:hover {
        background-color: darken($color: lavender, $amount: 3);
        opacity: 0.5;
      }
    }
  }
}
